.head-page-teacher{
    border-bottom: 1px solid #d1d1d1;
    background-color: #ebebeb;
    height: 40px;
}
.nav-left-teacher{
    border-right: 1px solid #d1d1d1;
    background-color: #ebebeb;
    height: calc(100vh - 58px);
}
.content-page-teacher{
    height: calc(100vh - 58px);
    overflow-y: scroll;
}
.text-teacher-left{
    text-align: center;
    margin-top: 25px;
    color: #4a4a4a;
    display: block;
    text-decoration: none;
}
.text-teacher-left i {
    font-size: 24px;
}
.text-teacher-left span {
    font-size: 11px;
}
.active-text-left{
    color: blue;
    font-weight: 500;
}
.active-text-left span{
    padding-bottom: 5px;
    border-bottom: 2px solid blue;
}
.logo-teacher-left{
    display: block;
    text-align: center;
}
.img-head-logo{
    height: 20px;
    margin-top: 10px;
}
.user-logged-head-teacher{
    position: relative;
}
.in-user-logged{
    position: absolute;
    right: 50px;
    top: 0px;
    height: 40px;
}
.drop-user-nav{
    list-style: none;
}
.avatar-head{
    height: 25px;
}
.toggle-head{
    line-height: 40px;
}
.div-search-head{
    width: 100%;
    border: 1px solid #9c9c9c;
    border-radius: 5px;
    height: 28px;
    margin-top: 6px;
    background: #fff;
}
.div-search-head i{
    width: 10%;
    font-size: 13px;
    padding-left: 5%;
    margin-top: -5px;
}
.div-search-head input{
    width: 70%;
    height: 100%;
    border: none;
    font-size: 13px;
}
.div-search-head input:focus{
    outline: none;
}
.single-blog{
    display: block;
    text-decoration: none;
}
.img-blog-index{
    width: 100%;
    height: 250px;
    object-fit: cover;
}


/* subject */
.course-card {
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    transition: 0.3s;
  }

  .course-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  .course-icon {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    object-fit: cover;
  }

  .course-actions i {
    margin-right: 15px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 18px;
  }

  .card-title {
    margin-left: 10px;
    font-weight: 500;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
  }

  .course-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000;
  }

  .ellipsis {
    margin-left: auto;
    cursor: pointer;
  }
  .teams-section {
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .teams-title {
    font-weight: 600;
  }

  .btn-join {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    background-color: white;
  }

  .btn-join i {
    margin-right: 6px;
    font-size: 16px;
  }

  .ellipsis {
    margin-right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #555;
  }

  .label-content{
    font-weight: 500;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
.checkbox-custom {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.checkbox-custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    /* background-color: #eee; */
    border: 1px solid gray;
    border-radius: 5px;
}


/* On mouse-over, add a grey background color */

.checkbox-custom:hover input~.checkmark-checkbox {
    /* background-color: #ccc; */
}


/* When the checkbox is checked, add a blue background */

.checkbox-custom input:checked~.checkmark-checkbox {
    background-color: #ee4d2d;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.checkbox-custom input:checked~.checkmark-checkbox:after {
    display: block;
}


/* Style the checkmark/indicator */

.checkbox-custom .checkmark-checkbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.imgpresubject{
    margin-top: 10px;
    width: 100%;
}